<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Landing Page</title>
</head>

<body>
  <h1 class="text-6xl">Landing Page</h1>
  <span class="m-64 cursor-pointer bg-blue-500" onclick="login()">Login</p>

  <script>
      function login() {
          window.location.href = "/inicio";
      }
  </script>
</body>

</html>