<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Landing Page</title>
</head>

<body>
  <%- include('../components/navbar.ejs'); %>

  <h1 class="text-4xl">Landing Page</h1>
  <div class="flex pt-8 w-full justify-center items-center">
    <a href="/inicio">
      <span class="flex h-16 w-64 bg-blue-300 justify-center items-center font-semibold text-xl rounded-xl border-black border-2">Clique Aqui</span>
    </a>
  </div>
</body>

</html>