<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Landing Page</title>
</head>

<body>
  <%- include('../components/navbar.ejs'); %>

  <div class="flex w-full justify-center items-center">
    <div class="h-screen w-full object-contain">
      <a href="/login" class="absolute ml-40 mt-64">
        <span class="flex h-16 w-64 bg-blue-300 justify-center items-center font-semibold text-xl rounded-xl border-black border-2">Entrar</span>
      </a>
      <img src="images/image.jpg" alt="">
    </div>
  </div>
</body>

</html>