<!DOCTYPE html>
<html lang="en">

<head>
  <title>Salas</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="./styles/style.css">

</head>

<body>
  <div class="flex h-screen">
    <%- include('../components/sidebar.ejs'); %>

      <div class="absolute right-0 mr-8 mt-4 px-4 py-2 bg-blue-300 rounded-lg">
        <a href="/adicionar_sala">
          <span class="no-underline">Adicionar Salas</span>
        </a>
      </div>

      <div class="flex w-screen justify-center">
        <div class="mt-8">
          <br />
          <table class="table">
            <thead>
              <tr>
                <th class="py-4">Nome</th>
                <th class="py-4">Senha</th>
                <th class="py-4">Projetos</th>
              </tr>
            </thead>
            <tbody>
              <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                <tr>
                  <td class="py-4 px-16">
                    <%= data[i].nome%>
                  </td>
                  <td>
                    <%= data[i].senha%>
                  </td>
                  <td class="py-4 px-16">
                    <a href="/projetos">
                      <span class="no-underline">Ver projetos</span>
                    </a>
                  </td>
                </tr>
                <% } }else{ %>
                  <tr>
                    <td>No data ever existed.</td>
                  </tr>
                  <% } %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</body>

</html>