<div class="block items-center h-fit w-80 my-16 mr-4 ml-16 bg-gray-200 border border-gray-400 rounded-2xl shadow-lg overflow-hidden">
  <div class="flex w-full h-16 bg-red-300 items-center">
    <span id="materia" class="ml-4 text-xl font-medium">Algoritmos</span>
  </div>
  <div class="my-8">
    <div class="ml-8">
      <div class="flex mt-2 items-center align-center">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </div>
        <span class="ml-2 font-medium">Alunos: 45</span>
      </div>
      <div class="flex mt-2 items-center align-center">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
        </div>
        <span class="ml-2 font-medium">Atividades: 3</span>
      </div>
      <div class="flex mt-2 items-center align-center">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
        </div>
        <span class="ml-2 font-medium">Projetos: 17</span>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="px-0 mx-auto block items-center align-center h-64 w-64">
      <canvas id="chart"></canvas>
    </div>
  </div>
  <div class="ml-8 my-4">
    <div class="flex mt-2 items-center align-center">
      <div class="w-4 h-4 bg-red-400">
      </div>
      <span class="ml-2">Projetos pendentes</span>
    </div>
    <div class="flex mt-2 items-center align-center">
      <div class="w-4 h-4 bg-orange-400">
      </div>
      <span class="ml-2">Projetos em andamento</span>
    </div>
    <div class="flex mt-2 items-center align-center">
      <div class="w-4 h-4 bg-blue-400">
      </div>
      <span class="ml-2">Projetos finalizados</span>
    </div>
  </div>
</div>
<div class="block items-center h-fit w-80 my-16 mx-4 bg-gray-200 border border-gray-400 rounded-2xl shadow-lg overflow-hidden">
  <div class="flex w-full h-16 bg-green-300 items-center">
    <span id="materia" class="ml-4 text-xl font-medium">Estrutura de Dados</span>
  </div>
  <div class="my-8">
    <div class="ml-8">
      <div class="flex mt-2 items-center align-center">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </div>
        <span class="ml-2 font-medium">Alunos: 52</span>
      </div>
      <div class="flex mt-2 items-center align-center">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
        </div>
        <span class="ml-2 font-medium">Atividades: 5</span>
      </div>
      <div class="flex mt-2 items-center align-center">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
        </div>
        <span class="ml-2 font-medium">Projetos: 13</span>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="px-0 mx-auto block items-center align-center h-64 w-64">
      <canvas id="chart2"></canvas>
    </div>
  </div>
  <div class="ml-8 my-4">
    <div class="flex mt-2 items-center align-center">
      <div class="w-4 h-4 bg-red-400">
      </div>
      <span class="ml-2">Projetos pendentes</span>
    </div>
    <div class="flex mt-2 items-center align-center">
      <div class="w-4 h-4 bg-orange-400">
      </div>
      <span class="ml-2">Projetos em andamento</span>
    </div>
    <div class="flex mt-2 items-center align-center">
      <div class="w-4 h-4 bg-blue-400">
      </div>
      <span class="ml-2">Projetos finalizados</span>
    </div>
  </div>
</div>
<div class="block items-center h-fit w-80 my-16 ml-4 mr-16 bg-gray-200 border border-gray-400 rounded-2xl shadow-lg overflow-hidden">
  <div class="flex w-full h-16 bg-blue-300 items-center">
    <span id="materia" class="ml-4 text-xl font-medium">Linguagem de Programação</span>
  </div>
  <div class="my-8">
    <div class="ml-8">
      <div class="flex mt-2 items-center align-center">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </div>
        <span class="ml-2 font-medium">Alunos: 38</span>
      </div>
      <div class="flex mt-2 items-center align-center">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
        </div>
        <span class="ml-2 font-medium">Atividades: 4</span>
      </div>
      <div class="flex mt-2 items-center align-center">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
        </div>
        <span class="ml-2 font-medium">Projetos: 12</span>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="px-0 mx-auto block items-center align-center h-64 w-64">
      <canvas id="chart3"></canvas>
    </div>
  </div>
  <div class="ml-8 my-4">
    <div class="flex mt-2 items-center align-center">
      <div class="w-4 h-4 bg-red-400">
      </div>
      <span class="ml-2">Projetos pendentes</span>
    </div>
    <div class="flex mt-2 items-center align-center">
      <div class="w-4 h-4 bg-orange-400">
      </div>
      <span class="ml-2">Projetos em andamento</span>
    </div>
    <div class="flex mt-2 items-center align-center">
      <div class="w-4 h-4 bg-blue-400">
      </div>
      <span class="ml-2">Projetos finalizados</span>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('chart');
  const ctx2 = document.getElementById('chart2');
  const ctx3 = document.getElementById('chart3');

  const v1 = 5;
  const v2 = 3;
  const v3 = 2;

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Finalizados', 'Pendentes', 'Em andamento'],
      datasets: [{
        data: [v1, v2, v3],
        borderWidth: 1
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        },
      },
      responsive: true,
    }
  });
  new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: ['Finalizados', 'Pendentes', 'Em andamento'],
      datasets: [{
        data: [v2, v2, v3],
        borderWidth: 1
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        },
      },
      responsive: true,
    }
  });
  new Chart(ctx3, {
    type: 'pie',
    data: {
      labels: ['Finalizados', 'Pendentes', 'Em andamento'],
      datasets: [{
        data: [v3, v2, v1],
        borderWidth: 1
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        },
      },
      responsive: true,
    }
  });
</script>