<!-- TO-DO: Fix elements class names to match tailwind properties -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content=="IE=edge" />
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
    <div class="item">
        <div class="name-block">
            <span class="project-name">Título do projeto</span> <!-- Linkar com banco -->
            <br>
            <div class="project-image">
                <object data="public/images/user.svg" width="65px" height="65px"></object>
            </div>
        </div>
        <br>
        <span>Data de entrega:</span>
        <span>xx/xx/xx</span> <!-- Linkar com banco -->
        <br>
        <span>00:00</span> <!-- Linkar com banco -->
        <span> - </span>
        <span>Entregar prototipagem</span> <!-- Linkar com banco -->
    </div>
</body>