<!-- TO-DO: Fix elements class names to match tailwind properties -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content=="IE=edge" />
  <link rel="stylesheet" href="./styles/style.css">
</head>

<body class="flex h-screen">
  <div class="border-2 border-gray-900 m-1 box-border h-80 w-80 flex flex-col">
    <div class="bg-gray-400">
      <div>
        <span class="text-2xl">Título do projeto</span> <!-- Linkar com banco -->
      </div>
      <div class="flex justify-center">
        <img src="../public/images/Screenshot_1.png" alt="Imagem não encontrada">
      </div>
    </div>
    <div>
      <span class="">Data de entrega:</span>
    </div> 
    <div>
      <span>xx/xx/xx</span> <!-- Linkar com banco -->
    </div> 
    <div>
      <span>00:00 - Entregar Prototipagem</span> <!-- Linkar com banco -->
    </div>
  </div>
</body>