<meta charset="UTF-8" />

<div class="flex h-screen">
  <div id="container" class="absolute w-16 sm:w-0 md:w-16 lg:w-14 xl:w-64 2xl:w-64">
    <div id="sidebar"
      class="relative bg-gray-900 w-full overflow-hidden z-40 h-screen duration-200 ease-linear text-white">
      <div class="w-14 relative mt-4 ml-2 mb-2">
        <a class="no-underline table" href="/">
          <svg width="46" height="46" viewBox="0 0 135 135" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.59858 102.231C18.8048 95.6951 30.7424 84.4617 26.2 71.3039C23.73 64.117 20.2947 57.9484 19.8404 50.1821C19.4316 43.6043 20.3983 37.0136 22.6793 30.8278C31.8634 6.40874 59.0039 -5.14945 83.5183 2.1789C106.23 8.96975 121.844 35.2564 112.448 58.1611C107.011 71.3891 104.583 81.6316 116.748 91.8747C120.027 94.7042 128.005 98.8354 127.976 103.787C127.976 110.267 115.201 102.372 113.782 101.283C115.399 104.112 131.468 120.793 121.248 121.981C111.837 123.07 103.519 109.97 97.8689 104.353C88.3725 94.9025 90.0194 115.813 89.9769 120.128C89.9769 126.947 85.0797 140.755 76.4069 131.757C69.3095 124.329 71.9496 112.488 66.9674 104.225C61.3885 95.1854 52.3748 113.266 50.0327 116.577C47.5061 120.269 34.8303 138.166 29.7767 128.63C25.6887 120.892 32.2183 108.823 35.4546 101.75C34.2765 104.296 25.9731 108.045 23.5455 109.277C18.2825 112.168 12.3149 113.54 6.31292 113.238C-6.46234 112.318 3.33203 105.569 8.5416 102.231H8.59858V102.231Z"
              fill="#3B82F6" />
          </svg>
          <span
            class="relative md:hidden xl:table-cell align-middle font-medium text-xl text-blue-500 pl-4 truncate">Projeto
            Quinta</span>
        </a>
      </div>
      <ul class="mt-12 m-4">
        <li class="relative block w-full pt-4">
          <a href="/inicio"
            class="relative w-full md:table border-collapse border-spacing-0 pt-3 no-underline rounded-xl transition-all duration-150 ease-linear xl:hover:bg-gray-800">
            <svg class="pt-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
              viewBox="0 0 40 40" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
              <polyline points="9 22 9 12 15 12 15 22"></polyline>
            </svg>
            <span class="relative md:hidden xl:table-cell align-middle w-5/6 pl-2">Início</span>
          </a>
        </li>
        <li class="mt-2">
          <a href="/notificacoes"
            class="relative w-full xl:table border-collapse border-spacing-0 pt-3 no-underline rounded-xl transition-all duration-150 ease-linear xl:hover:bg-gray-800">
            <svg class="pt-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
              viewBox="0 0 40 40" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
              <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
            </svg>
            <span class="relative md:hidden xl:table-cell align-middle w-5/6 pl-2">Notificações</span>
          </a>
        </li>
        <li class="mt-2">
          <a href="/projetos"
            class="relative w-full xl:table border-collapse border-spacing-0 pt-3 no-underline rounded-xl transition-all duration-150 ease-linear xl:hover:bg-gray-800">
            <svg class="pt-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
              viewBox="0 0 40 40" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <rect x="3" y="3" width="7" height="7"></rect>
              <rect x="14" y="3" width="7" height="7"></rect>
              <rect x="14" y="14" width="7" height="7"></rect>
              <rect x="3" y="14" width="7" height="7"></rect>
            </svg>
            <span class="md:hidden xl:table-cell align-middle w-5/6 pl-2">Projetos</span>
          </a>
        </li>
        <li class="mt-2">
          <a href="/salas"
            class="relative w-full xl:table border-collapse border-spacing-0 pt-3 no-underline rounded-xl transition-all duration-150 ease-linear xl:hover:bg-gray-800">
            <svg class="pt-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
              viewBox="0 0 40 40" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
              <polyline points="2 17 12 22 22 17"></polyline>
              <polyline points="2 12 12 17 22 12"></polyline>
            </svg>
            <span class="relative md:hidden xl:table-cell align-middle w-5/6 pl-2">Salas</span>
          </a>
        </li>
        <li class="mt-2">
          <a href="/configuracoes"
            class="relative w-full xl:table border-collapse border-spacing-0 pt-3 no-underline rounded-xl transition-all duration-150 ease-linear xl:hover:bg-gray-800">
            <svg class="pt-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
              viewBox="0 0 40 40" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="3"></circle>
              <path
                d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
              </path>
            </svg>
            <span class="relative md:hidden xl:table-cell align-middle w-5/6 pl-2">Configurações</span>
          </a>
        </li>
      </ul>
      <ul class="mt-12 m-4 absolute bottom-0">
        <li class="mt-2 w-full">
          <a href="/ajuda"
            class="relative w-full xl:table border-collapse border-spacing-0 pt-3 no-underline rounded-xl transition-all duration-150 ease-linear xl:hover:bg-gray-800">
            <svg class="pt-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
              viewBox="0 0 40 40" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
              <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>
            <span class="relative md:hidden xl:table-cell align-middle w-5/6 pl-2">Ajuda</span>
          </a>
        </li>
        <li class="mt-2">
          <a href="/perfil"
            class="relative w-full xl:table border-collapse border-spacing-0 pt-3 no-underline rounded-xl transition-all duration-150 ease-linear xl:hover:bg-gray-800">
            <svg class="pt-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
              viewBox="0 0 40 40" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <span class="relative md:hidden xl:table-cell align-middle w-5/6 pl-2">Perfil</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Essa div ta aqui pro conteúdo não ficar atras da sidebar -->
  <div class="flex w-16 sm:w-0 md:w-16 lg:w-14 xl:w-64 2xl:w-64"></div>

  <div id="toggler"
    class="fixed mt-2 mr-2 right-0 w-10 h-10 z-50 place-content-center md:hidden md:hidden xl:hidden 2xl:hidden">
    <div class="flex justify-center items-center">
      <button aria-label="close" id="close-sidebar" onclick="openSidebar(false)"
        class="hidden focus:outline-none focus:ring-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"
          fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
      <button aria-label="open" id="open-sidebar" onclick="openSidebar(true)"
        class="focus:outline-none focus:ring-2">
        <svg class="pt-1" xmlns="http://www.w3.org/2000/svg" width="36" height="36"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- JavaScript -->
<script>
  const container = document.getElementById('container');
  const open = document.getElementById('open-sidebar');
  const close = document.getElementById('close-sidebar');

  function openSidebar(flag) {
    if (flag) {
      container.classList.toggle('sm:w-full');
      open.classList.toggle('hidden');
      close.classList.toggle('hidden');
    } else {
      container.classList.toggle('sm:w-full');
      open.classList.toggle('hidden');
      close.classList.toggle('hidden');
    }
  }
</script>